@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans&family=Quicksand&family=Saira&display=swap');

* {
   font-family: 'Mooli', sans-serif;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Quicksand', sans-serif;
   font-family: 'Saira', sans-serif;
   margin: 0;
   padding: 0;
}

body {
   background-color: #6d0b65e3;
   height: 100%;
   width: 100%;
}


.container {
   background-color: #d6bdee;
   display: flex;
   min-height: 62vh;
   justify-content: center;
   margin: 4% 5% 0 22%;
   width: 60%;
   cursor: pointer;
   animation: margin-top 1s ease-in-out;
   border: 2px solid #660b5e;
}

@keyframes margin-top {
   from {
      margin-top: -9%;
   }

   to {
      margin-top: 4%;
   }
}


.logo img {
   height: 180px;
   width: 180px;

}

img {
   margin: 80px 0px 0px 150px;
   padding: 22px;
}

h1 {
   margin: 50px 0 0 0;
   color: #660b5e;
}

.abt {
   text-align: left;
   margin-left: 30px;
}

p {
   font-size: large;
   font-weight: 550;
   color: #660b5e;
}

/* CARDS */

.CARD-1 {
   display: flex;
   flex-direction: row;
   flex-flow: wrap;
   justify-content: space-around;
}

.description img {
   height: 260px;
   width: 317px;
   margin-top: 0%;
   padding-top: 0%;
   margin-left: -20px;
}

.description {
   background-color: rgba(195, 197, 195, 0.767);
   height: 320px;
   width: 320px;
   margin: 4% 0 0.8% 6%;
}

.description p {
   text-align: center;
   color: darkmagenta;
   font-weight: 600;
}

.description2 img {
   height: 260px;
   width: 317px;
   margin-top: 0%;
   padding-top: 0%;
   margin-left: -20px;
}

.description2 {
   background-color: rgba(195, 197, 195, 0.767);
   height: 320px;
   width: 320px;
   margin: 4% 0 0.8% 9%;
}

.description2 p {
   text-align: center;
   color: darkmagenta;
   font-weight: 600;
}

.description3 img {
   height: 260px;
   width: 317px;
   margin-top: 0%;
   padding-top: 0%;
   margin-left: -20px;
}

.description3 {
   background-color: rgba(195, 197, 195, 0.767);
   height: 320px;
   width: 320px;
   margin: 4% 0 0.8% 12%;
}

.description3 p {
   text-align: center;
   color: darkmagenta;
   font-weight: 600;
}

.interests p {
   color: #d6bdee;
   padding: 0;
   margin: 0;
}

.interests {
   color: #d6bdee;
   text-align: center;
   letter-spacing: 2px;
   word-spacing: 2px;
   padding: 10px;
   margin: 5% 0 2% 25%;
   width: 50%;
   text-transform: uppercase;
   border: none;
   outline: none;
   font-size: large;
   border-bottom: 2px solid #660b5e;
}

@media screen and (min-width: 280px) and (max-width: 780px) {
   .container {
      margin: 4% 2% 0 2%;
      width: 100%;
      height: 25%;

   }

   .CARD-1 {
      display: flex;
      flex-direction: column;
      flex-flow: wrap;
   }

   p {
      font-size: 20px;
   }

   .logo img {
      height: 100px;
      width: 100px;
      margin: 2% 5% 2% 5%;
   }

   .description {
      flex-direction: column;
      margin-left: 1%;
   }

   .abt {
      margin-left: 30px;
   }

   .description2 {
      margin-top: 7%;
      margin-left: 1%;
      flex-direction: column;
   }

   .description3 {
      margin-top: 5%;
      flex-direction: column;
      margin-left: 1%;
   }

}